<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>915993206632-lekc30008gtq4eu1jmsevrm8ec75kmql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.915993206632-lekc30008gtq4eu1jmsevrm8ec75kmql</string>
	<key>API_KEY</key>
	<string>AIzaSyCW9Qg11RmDSc0lGoHKrz4qIctgDkLuBIo</string>
	<key>GCM_SENDER_ID</key>
	<string>915993206632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SwidtUI-Dise</string>
	<key>PROJECT_ID</key>
	<string>bienvenidos-528db</string>
	<key>STORAGE_BUCKET</key>
	<string>bienvenidos-528db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915993206632:ios:eff2108d10ae4ff3a480dd</string>
	<key>DATABASE_URL</key>
	<string>https://bienvenidos-528db.firebaseio.com</string>
</dict>
</plist>